<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="description" content="todo-list">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>To Do List</title>
    <link rel="shortcut icon" href="../images/list.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    