<ul>
    <%items.forEach((fruit)=> { %>
        <div>
            <button id="<%= fruit.id %>" class="delete-btn">Delete</button>
            <input id='"<%= fruit.id %>-checkbox"' type="checkbox" />
            <span id='"<%= fruit.id %>-item"'>
                <%= fruit.item %>
            </span>
        </div>
        <%}) %>
</ul>

